.addTaskForm {
  margin: 20px;
}

.taskText {
  height: 20px;
  width: 250px;
  margin: 10px;
}

.addTask {
  padding: 3px 15px;
  font-size: 16px;
}

.task {
  padding: 10px 5px;
  margin: 20px;
  border: 1px solid black;
  width: 80%;
  position: relative;
}

.check {
  position: absolute;
  top: 5px;
  left: 5px;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
}

.taskText {
  margin-left: 30px;
}





